@import 'bourbon/bourbon';

$brand-color: $brand-base;
$brand-tint-1: tint($brand-color, 10%);
$brand-tint-2: tint($brand-color, 25%);
$brand-tint-3: tint($brand-color, 50%);
$brand-tint-4: tint($brand-color, 75%);
$brand-tint-5: tint($brand-color, 100%);

$brand-shade-1: shade($brand-color, 10%);
$brand-shade-2: shade($brand-color, 25%);
$brand-shade-3: shade($brand-color, 50%);
$brand-shade-4: shade($brand-color, 75%);
$brand-shade-5: shade($brand-color, 100%);

