@import "../../thirdparty/foundation/scss/foundation.scss";
//@import "../../thirdparty/foundation-icons/foundation_icons_general/sass/general_foundicons.scss";

.content {
  width: 100%;
}

.hidden {
  display: none;
}

.preview {
  width: 300px;
  margin-bottom: 5px; 
}

.map {
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  i {
    font-size: 35px;;
    line-height: 35px;
  }
}
