<html>
  <body>
    <h1>Media</h1>
    <form method="post" enctype="multipart/form-data">
      <p>Image: <input type="file" name="image" /></p>
      <p><input type="submit" value="Upload" /></p>
    </form>

    <script>
      /*
      function gotMedia() {
        console.log('OK');
      }

      function noMedia() {
        console.log('NOTOK');
      }

      navigator.getMedia = ( navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
      navigator.getMedia({ video: true }, gotMedia, noMedia);
      */
    </script>
  </body>
</html>
