<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title><%= title %>: <%= tagline %></title>
<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
        <h1>
          <a href="#"><%= title %> <small><%= tagline %></small>
          </a>
        </h1>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="section-container tabs" data-section="tabs">
      <section>
        <p class="title" data-section-title><a href="#panel1">Finding</a></p>
        <div class="content" data-section-content>
          <ul class="small-block-grid-2 large-block-grid-4">
            <li><img src="../img/demos/demo1.png"></li>
            <li><img src="../img/demos/demo2.png"></li>
            <li><img src="../img/demos/demo3.png"></li>
            <li><img src="../img/demos/demo4.png"></li>
          </ul>
        </div>
      </section>
      <section class="active">
        <p class="title" data-section-title><a href="#panel2">Selling</a></p>
        <div class="content" data-section-content>         
          <div> 
            <button id="sell-item" class="button"><i class="foundicon-plus"></i> Sell an item</button>
          </div>
          <div id="sell-reveal" class="hidden">
            <button id="get-image" class="button">Select image...</button>
            <button class="button">Upload</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  <input id="get-image-hidden" class="hidden" type="file" name="image" accept="image/*" capture="camera" />
</form>
<script src="js/thirdparties-min.js"></script>
<script src="js/zz.js"></script>
</body>
</html>
