<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="zz">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title><%= title %>: <%= tagline %></title>
<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><a href="#"><%= title %></a><small><%= tagline %></small></h1>
    </li>
  </ul>
</nav>
<dl class="tabs" data-tab>
  <dd><a href="#panel2-1">Finding</a></dd>
  <dd class="active"><a href="#panel2-2">Selling</a></dd>
</dl>
<div class="tabs-content">
  <div class="content" id="panel2-1">
  </div>
  <div class="content active" id="panel2-2" ng-controller="Selling">
    <div class="row">
      <div class="small-8 columns">
        <button id="sell-item" class="button round"><i class="foundicon-plus"></i> Sell an item</button>
      </div>
    </div>
  </div>
</div>



<!--dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">Finding</a></dd>      
    <dd><a href="#panel2-2">Selling</a></dd> 
  </dl> 
  <div class="tabs-content"> 
    <div class="content" id="panel2-1"> 
    </div> 
    <div class="content active" id="panel2-2"> 
      <div class="row">
        <div class="columns large-4 large-offset-4 small-8 small-offset-2"> 
          <button id="sell-item" class="button"><i class="foundicon-plus"></i> Sell an item</button>
        </div>
      </div>
      <div id="sell-reveal" class="hidden row">
        <div class="columns large-offset-0 large-3 small-8 small-offset-2">
          <img id="image-thumb" class="th"></img>
        </div>
        <div class="columns large-9 small-12">
          <div class="row">
            <div class="columns large-2">
              <label>Price</label>
              <input autofocus type="number" placeholder="How much do you want for it. Put 0.00 if you like"></input>           
            </div>
          </div>
          <div class="row">
            <div class="columns large-12">
              <label>Description</label>
              <textarea maxlength="140" required spellcheck placeholder="Add a simple description of the item you wish to sell. You can use hashtags (#) if you like. You have 120 characters."></textarea>            
              <button class="button">Sell it!</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div-->
<canvas id="image-canvas" class="hidden"></canvas>
<form method="post" enctype="multipart/form-data">
  <input id="get-image-hidden" class="hidden" type="file" name="image" accept="image/*" capture="camera" />
</form>
<script src="js/thirdparties.min.js"></script>
<script src="js/zz.js"></script>
</body>
</html>
