body {
  margin: 0;
  padding: 0;
  color: #1a242f;
  font-family: 'Oswald', sans-serif; }

.masthead {
  margin-bottom: 100px; }
  .masthead h1 {
    font-size: 5em; }

.inverted {
  background-color: #34495e;
  color: white; }

#main-nav {
  background-color: #1a242f; }
  #main-nav a {
    color: #99a4ae;
    font-weight: bold; }
