@import 'palette';

body {
  margin: 0;
  padding: 0;
  color: $tint;
//  color: $brand-color;
//  background: $secondary-color;
//  border: 1px solid $complimentary-color;
}
/*
h1 {
  .masthead {
    font-size: 5em;
  }
}
#main-nav {
  background-color: $complimentary-color;
  a {
    color: $brand-color;
    font-weight: bold;
  }
}
*/
