<section class="ui masthead segment">
  <header>
    <h1>Zizzer-Zoof</h1>
    <h2>Get Rid Of Your Unwanted Things. Find Bargains Near To You.</h2>
  </header>
    <a class="ui teal labeled icon button"><i class="google plus icon"></i> Sign in with Google</a>
    <a class="ui teal labeled icon button"><i class="facebook icon"></i> Sign in with Facebook</a>
</section>

<article class="ui segment">
  <h1>What is Zizzer-Zoof?</h1>
  <p>Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro.</p>
</article>

<article class="ui segment">
  <h1>Why do you need to know where I am?</h1>
  <p>Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro.</p>
</article>
