<div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <form name="details">
      <fieldset ng-disabled="busy">
        <legend>Sign in</legend>
        <input ng-model="email" ng-change="error = null" type="email" placeholder="Your email" autofocus required/>
        
        <input ng-model="password" tng-change="error = null" type="password" placeholder="Your password" required/>
        <small ng-show="error" ng-bind="error" class="error"></small>
      
        <button ng-click="login(email, password)" ng-disabled="!details.$valid"i>Sign In</button>
      </fieldset>
    </form>
  </div>
</div>
