<nav id="main-nav" class="ui menu">
  <a class="item">Zizzer-Zoof</a>
  <div class="right menu">
    <a class="item" href="#">A</a>
    <a class="item" href="#">B</a>
    <a class="item" href="#">C</a>
  </div>
</nav>
