<nav id="main-nav" class="ui menu" ng-controller="nav">
  <a href="/" class="item">Zizzer-Zoof</a>
  <a ng-show="me.givenName" href="/" class="item">Hi {{ me.givenName }}!</a>
  <div class="right menu">
    <a ng-show="me.givenName" class="item" href="/logout" target="_self">Logout</a>
  </div>
</nav>
