<div class="ui page grid one column center aligned">
  <section class="column">
    <h2 class="ui header">
      <i class="map marker icon"></i>
      Account Settings For {{ me.givenName }}
    </h2>
  </section>
</div>
