<h1>signup</h1>

<!--div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <form name="details" ng-disabled="busy">
      <fieldset ng-hide="formatted_address">
        <legend>Sign up</legend>
        <input ng-model="email" ng-change="error = null" type="email" placeholder="Email" autofocus required/>
        
        <input ng-model="password" tng-change="error = null" type="password" placeholder="Password" required/>

        <input ng-model="location" ng-change="error = null" type="text" placeholder="Location (a postcode will do)" required/>
        <small ng-show="error" ng-bind="error" class="error"></small>
        <button ng-click="search(location)" ng-disabled="!details.$valid"i>Sign up</button>
        <a href="/login">or sign in</a>
      </fieldset>
      <fieldset ng-show="formatted_address">
        <legend>Confirmation for {{ email }}</legend>
        <div data-alert class="alert-box warning">Please double check your location is correct (it's how we find local people to trade with you).</div>
        <map></map>
        <h3>{{ formatted_address }}</h3>
        <h5>Is this correct?</h5>
        <button class="success" ng-click="signup()">Yes</button>
        <button class="alert" ng-click="formatted_address=null">No</button>        
      </fieldset>
    </form>
  </div>
</div-->
