<div class="row">
  <div class="small-12 large-offset-3 large-6 columns">
    <form name="details" ng-disabled="busy">
      <fieldset ng-hide="formatted_address">
        <legend>Sign up</legend>
        <input ng-model="email" ng-change="error = null" type="email" placeholder="Email" autofocus/>

        <input ng-model="password" tng-change="error = null" type="password" placeholder="Password"/>
        <small ng-show="error" ng-bind="error" class="error"></small>

        <input ng-model="postcode" ng-change="error = null" type="text" placeholder="Postcode" required/>
        <button ng-click="search(postcode)" ng-disabled="!details.$valid"i>Sign up</button>
        <a href="/login">or sign in</a>
      </fieldset>
      <fieldset ng-show="formatted_address">
        <legend>Confirmation</legend>
        <dl>
          <dt>Email</dt>
          <dd>{{ email }}</dd>
          <dt>Location</dt>
          <dd>{{ formatted_address }}</dd>
        </dl>
        <map></map>
        <button class="success">Create my account</button>
        <button class="alert" ng-click="formatted_address=null">Change details</button>
      </fieldset>
    </form>
  </div>
</div>
